<ion-header>
  <ion-toolbar>
    <ion-title>Lager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            <ion-img src="assets/dadobier-card-header.jpg"></ion-img>
          </ion-card-header>
              <ion-card-content>
                <ion-card-subtitle>Lager</ion-card-subtitle>
                <ion-card-title>Da Do Bier</ion-card-title>
              <p>A melhor de todas! Voce toma uma vez e não larga mais.</p>
            </ion-card-content>
    </ion-card>
</ion-content>
